<div class="warning-bar">
    <div class="stripe">&nbsp;
    </div>
    <!-- div class="body">
        <H2><strong>UPDATE</strong>: Important Message on Covid-19 (SARS-CoV-2) and VLDB 2020</H2>
        <p>The safety and well-being of our community is our top concern. The VLDB Conference 2020 will not be taking place in Tokyo in August/September. The VLDB Endowment and the organizing committee of VLDB 2020 are continuously monitoring the global
            Covid-19 (Coronavirus) pandemic and will decide on the format and time of the conference in due course. Please check this website regularly for updates.</p>
    </div-->
    <div class="body">
        <H2><strong>UPDATE</strong>: Important Message on Covid-19 (SARS-CoV-2) and VLDB 2020</H2>
        <p>Due to COVID-19, the VLDB Conference 2020 will be held as an online virtual conference. The meeting schedule remains unchanged from August 31st to September 4th, 2020. The conference dates are from August 31st to September 4th, 2020. More details
            will be posted soon. Please check this website regularly for updates.</p>
    </div>
    <div class="stripe">&nbsp;
    </div>
</div>