<div class="warning-bar">
    <div class="stripe">&nbsp;</div>
    <div class="body">
        <h2>
            <strong>UPDATE</strong>: Important Message on Covid-19 (SARS-CoV-2)
            and VLDB 2020
        </h2>
        <div class="col-group">
            <div class="col-10">
                <p>
                    Due to COVID-19, the VLDB Conference 2020 will be held as an
                    online virtual conference. The meeting schedule remains
                    unchanged from August 31st to September 4th, 2020. The
                    conference dates are from August 31st to September 4th,
                    2020. More details will be posted soon. Please check this
                    website, twitter, or faceook regularly for updates.
                </p>
            </div>
            <div class="col-1" style="text-align: center;">
                <a href="https://twitter.com/VLDB2020"
                    ><i
                        style="font-size: 5vw; color: #1da1f2;"
                        class="fab fa-twitter-square"
                    ></i
                ></a>
            </div>
            <div class="col-1" style="text-align: center;">
                <a href="https://www.facebook.com/vldb2020">
                    <i
                        style="font-size: 5vw; color: #3b5998;"
                        class="fab fa-facebook-square"
                    ></i
                ></a>
            </div>
        </div>
    </div>
    <div class="stripe">&nbsp;</div>
</div>
