<label class="menu-btn" for="toppage-toggle">
    <div class="scroll-cnt">
        <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%" height="100%"
            preserveAspectRatio="xMidYMid slice">
            <rect x="0" y="0" width="1000" height="1200" />
            <polyline points="200 700 500 1100 800 700" />
            <circle id="dot1" cx="500" cy="400" r="50" />
            <circle id="dot2" cx="500" cy="640" r="50" />
            <circle id="dot3" cx="500" cy="880" r="50" />
        </svg>
    </div>
</label>