<div class="col-group">
    <div class="col-6" id="footer-left">
        46th International Conference on Very Large Data Bases<br>
        Tokyo, Japan, from August 30th to September 4th, 2020.
    </div>
    <div class="col-6" id="footer-right">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><i class="fab fa-creative-commons"></i><i
                class="fab fa-creative-commons-by"></i><i class="fab fa-creative-commons-sa"></i></a>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <a href="https://github.com/VLDB2020/developer-preview/pulls"><i class="fab fa-github"></i></a>
    </div>
</div>