<input type="checkbox" name="social-toggle" id="social-toggle" value="on" style="display:none;">
<label for="social-toggle">
    <i class="fas fa-share-alt-square social-share" for="social-toggle"></i>
</label>
<a href="#" x-href="https://www.facebook.com/sharer.php?u={url}" class="social-facebook social-icon"><i class="fab fa-facebook-square"></i></a>
<a href="#" x-href="https://twitter.com/intent/tweet?url={url}&hashtags=#VLDB2020" class="social-twitter social-icon"><i class="fab fa-twitter-square"></i></a>
<a href="#" x-href="https://www.linkedin.com/shareArticle?mini=true&url={url}" class="social-linkedin social-icon"><i class="fab fa-linkedin"></i></a>
<a href="#" x-href="https://reddit.com/submit?url={url}" class="social-reddit social-icon"><i class="fab fa-reddit-square"></i></a>
<a href="#" x-href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={url}" class="social-tumblr social-icon"><i class="fab fa-tumblr-square"></i></a>
<a href="#" x-href="https://lineit.line.me/share/ui?url={url}" class="social-line social-icon"><i class="fab fa-line"></i></a>
<a href="#" x-href="https://www.xing.com/spi/shares/new?url={url}" class="social-xing social-icon"><i class="fab fa-xing-square"></i></a>
<a href="#" x-href="http://pinterest.com/pin/create/link/?url={url}" class="social-pinterest social-icon"><i class="fab fa-pinterest-square"></i></a>
