<svg xmlns="http://www.w3.org/2000/svg" class="toppage-wrap" viewBox="0 0 1080 1080" width="100vw" height="100vh"
    preserveAspectRatio="xMidYMid slice">
    <defs>
        <text id="textVLDB" x="580" y="420">VLDB</text>
        <text id="text2020" x="540" y="570">2020</text>
        <text id="textTokyo" x="490" y="720">Tokyo</text>
        <mask id="mask" x="0" y="0" width="1080" height="1080">
            <rect x="0" y="0" width="1080" height="1080" />
            <use xlink: href="#textVLDB"></use>
            <use xlink: href="#text2020"></use>
            <use xlink: href="#textTokyo"></use>
        </mask>
    </defs>
    <rect x="0" y="0" width="1080" height="1080" />
    <use class="textoutline" xlink: href="#textVLDB"></use>
    <use class="textoutline" xlink: href="#text2020"></use>
    <use class="textoutline" xlink: href="#textTokyo"></use>
    <text x="480" y="750" id="textC" class="smalltext">46th International Conference on Very Large Data Bases</text>
</svg>