<div id="submenu-panel-contributions" class="left-submenu-panel bgcol-contributions-dark">
    <div>
        <div x-category="contributions" class="submenu-close submenu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%"
                height="100%" preserveAspectRatio="xMidYMid slice">
                <polyline points="200 700 500 1100 800 700" />
                <circle id="dot1" cx="500" cy="400" r="50" />
                <circle id="dot2" cx="500" cy="640" r="50" />
                <circle id="dot3" cx="500" cy="880" r="50" />
            </svg>
        </div>
    </div>
    <a href="research-track.html">
        <div class="submenu-item">Research Track</div>
    </a>
    <div class="submenu-item link-disable">Industrial Track</div>
    <div class="submenu-item link-disable">PhD Track</div>
    <hr>
    <div class="submenu-item link-disable">Demonstrations</div>
    <div class="submenu-item link-disable">Tutorials</div>
    <div class="submenu-item link-disable">Workshops</div>
</div>
<div id="submenu-panel-sponsorship" class="left-submenu-panel bgcol-sponsorship-dark">
    <div>
        <div x-category="sponsorship" class="submenu-close submenu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%"
                height="100%" preserveAspectRatio="xMidYMid slice">
                <polyline points="200 700 500 1100 800 700" />
                <circle id="dot1" cx="500" cy="400" r="50" />
                <circle id="dot2" cx="500" cy="640" r="50" />
                <circle id="dot3" cx="500" cy="880" r="50" />
            </svg>
        </div>
    </div>
    <div class="submenu-item link-disable">Sponsorship Benefits</div>
    <hr>
    <div class="submenu-item link-disable">Our Sponsors</div>
</div>
<div id="submenu-panel-information" class="right-submenu-panel bgcol-information-dark">
    <div>
        <div x-category="information" class="submenu-close submenu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%"
                height="100%" preserveAspectRatio="xMidYMid slice">
                <polyline points="200 700 500 1100 800 700" />
                <circle id="dot1" cx="500" cy="400" r="50" />
                <circle id="dot2" cx="500" cy="640" r="50" />
                <circle id="dot3" cx="500" cy="880" r="50" />
            </svg>
        </div>
    </div>
    <a href="overview.html">
        <div class="submenu-item">Conference Overview</div>
    </a>
    <a href="officers.html">
        <div class="submenu-item">Conference Officers</div>
    </a>
    <div class="submenu-item link-disable">PVLDB Review Board</div>
    <div class="submenu-item link-disable">Contact</div>
</div>
<div id="submenu-panel-forauthors" class="right-submenu-panel bgcol-forauthors-dark">
    <div>
        <div x-category="forauthors" class="submenu-close submenu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%"
                height="100%" preserveAspectRatio="xMidYMid slice">
                <polyline points="200 700 500 1100 800 700" />
                <circle id="dot1" cx="500" cy="400" r="50" />
                <circle id="dot2" cx="500" cy="640" r="50" />
                <circle id="dot3" cx="500" cy="880" r="50" />
            </svg>
        </div>
    </div>
    <a href="important-dates.html">
        <div class="submenu-item">Important Dates</div>
    </a>
    <hr>
    <a href="formatting-guidelines.html">
        <div class="submenu-item">Formatting Guidelines</div>
    </a>
    <a href="submission-guidelines.html">
        <div class="submenu-item">Submission Guidelines</div>
    </a>
</div>
<div id="submenu-panel-forparticipants" class="right-submenu-panel bgcol-forparticipants-dark">
    <div>
        <div x-category="forparticipants" class="submenu-close submenu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%"
                height="100%" preserveAspectRatio="xMidYMid slice">
                <polyline points="200 700 500 1100 800 700" />
                <circle id="dot1" cx="500" cy="400" r="50" />
                <circle id="dot2" cx="500" cy="640" r="50" />
                <circle id="dot3" cx="500" cy="880" r="50" />
            </svg>
        </div>
    </div>
    <div class="submenu-item link-disable">Registration</div>
    <div class="submenu-item link-disable">Conference Venue</div>
    <div class="submenu-item link-disable">Lodging</div>
    <div class="submenu-item link-disable">Travel Fellowship</div>
    <div class="submenu-item link-disable">Visa Information</div>
    <div class="submenu-item link-disable">Public Transport</div>
    <div class="submenu-item link-disable">Local Attractions</div>
    <div class="submenu-item link-disable">Public Safety</div>
</div>
<div class="submenu-mask" id="submenu-mask"></div>