<div id="submenu-panel-contributions" class="left-submenu-panel bgcol-contributions-dark">
        <div>
            <div x-category="contributions" class="submenu-close submenu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%" height="100%"
                    preserveAspectRatio="xMidYMid slice">
                    <polyline points="200 700 500 1100 800 700" />
                    <circle id="dot1" cx="500" cy="400" r="50" />
                    <circle id="dot2" cx="500" cy="640" r="50" />
                    <circle id="dot3" cx="500" cy="880" r="50" />
                </svg>
            </div>
        </div>
        <div class="submenu-item link-disable">Research Track</div>
        <div class="submenu-item link-disable">Industrial Track</div>
        <div class="submenu-item link-disable">PhD Track</div>
        <hr>
        <div class="submenu-item link-disable">Demonstrations</div>
        <div class="submenu-item link-disable">Tutorials</div>
        <div class="submenu-item link-disable">Workshops</div>
    </div>
    <div id="submenu-panel-sponsorship" class="left-submenu-panel bgcol-sponsorship-dark">
        <div>
            <div x-category="sponsorship" class="submenu-close submenu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%" height="100%"
                    preserveAspectRatio="xMidYMid slice">
                    <polyline points="200 700 500 1100 800 700" />
                    <circle id="dot1" cx="500" cy="400" r="50" />
                    <circle id="dot2" cx="500" cy="640" r="50" />
                    <circle id="dot3" cx="500" cy="880" r="50" />
                </svg>
            </div>
        </div>
        <div class="submenu-item link-disable">Sponsorship Benefits</div>
        <hr>
        <div class="submenu-item link-disable">Our Sponsors</div>
    </div>
    <div id="submenu-panel-information" class="right-submenu-panel bgcol-information-dark">
        <div>
            <div x-category="information" class="submenu-close submenu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%" height="100%"
                    preserveAspectRatio="xMidYMid slice">
                    <polyline points="200 700 500 1100 800 700" />
                    <circle id="dot1" cx="500" cy="400" r="50" />
                    <circle id="dot2" cx="500" cy="640" r="50" />
                    <circle id="dot3" cx="500" cy="880" r="50" />
                </svg>
            </div>
        </div>
        <div class="submenu-item link-disable">Conference Overview</div>
        <a href="officers.html">
            <div class="submenu-item">Conference Officers</div>
        </a>
        <div class="submenu-item link-disable">PVLDB Review Board</div>
        <div class="submenu-item link-disable">Contact</div>
    </div>
    <div id="submenu-panel-4authors" class="right-submenu-panel bgcol-4authors-dark">
        <div>
            <div x-category="4authors" class="submenu-close submenu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%" height="100%"
                    preserveAspectRatio="xMidYMid slice">
                    <polyline points="200 700 500 1100 800 700" />
                    <circle id="dot1" cx="500" cy="400" r="50" />
                    <circle id="dot2" cx="500" cy="640" r="50" />
                    <circle id="dot3" cx="500" cy="880" r="50" />
                </svg>
            </div>
        </div>
        <div class="submenu-item link-disable">Inportant Date</div>
        <hr>
        <div class="submenu-item link-disable">Formatting Guidelines</div>
        <div class="submenu-item link-disable">Submission Guidelines</div>
    </div>
    <div id="submenu-panel-4participants" class="right-submenu-panel bgcol-4participants-dark">
        <div>
            <div x-category="4participants" class="submenu-close submenu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%" height="100%"
                    preserveAspectRatio="xMidYMid slice">
                    <polyline points="200 700 500 1100 800 700" />
                    <circle id="dot1" cx="500" cy="400" r="50" />
                    <circle id="dot2" cx="500" cy="640" r="50" />
                    <circle id="dot3" cx="500" cy="880" r="50" />
                </svg>
            </div>
        </div>
        <div class="submenu-item link-disable">Registration</div>
        <div class="submenu-item link-disable">Conference Venue</div>
        <div class="submenu-item link-disable">Lodging</div>
        <div class="submenu-item link-disable">Travel Fellowship</div>
        <div class="submenu-item link-disable">Visa Information</div>
        <div class="submenu-item link-disable">Public Transport</div>
        <div class="submenu-item link-disable">Local Attractions</div>
        <div class="submenu-item link-disable">Public Safety</div>
    </div>
    <div class="submenu-mask" id="submenu-mask"></div>
    