<div id="submenu-panel-contributions" class="submenu-panel contributions left-submenu-panel bgcol-contributions-dark">
    <div>
        <div x-category="contributions" class="submenu-close submenu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%"
                height="100%" preserveAspectRatio="xMidYMid slice">
                <polyline points="200 700 500 1100 800 700" />
                <circle id="dot1" cx="500" cy="400" r="50" />
                <circle id="dot2" cx="500" cy="640" r="50" />
                <circle id="dot3" cx="500" cy="880" r="50" />
            </svg>
        </div>
    </div>
    <a href="{% link research-track.md %}">
        <div class="submenu-item">Research Track</div>
    </a>
    <a href="{% link industrial-track.md %}">
        <div class="submenu-item">Industrial Track <span class="badge">Extended!</span></div>
    </a>
    <a href="{% link phd-workshop.md %}">
        <div class="submenu-item">PhD Workshop</div>
    </a>
    <hr>
    <a href="{% link call4panel.md %}">
        <div class="submenu-item">Call for Panel Proposals</div>
    </a>
    <a href="{% link call4demo.md %}">
        <div class="submenu-item">Call for Demonstration Proposals</div>
    </a>
    <a href="{% link call4tutorials.md %}">
        <div class="submenu-item">Call for Tutorials <span class="badge">Extended!</span></div>
    </a>
    <a href="{% link call4workshops.md %}">
        <div class="submenu-item">Call for Workshop Proposals</div>
    </a>
</div>
<div id="submenu-panel-sponsorship" class="submenu-panel sponsorship left-submenu-panel bgcol-sponsorship-dark">
    <div>
        <div x-category="sponsorship" class="submenu-close submenu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%"
                height="100%" preserveAspectRatio="xMidYMid slice">
                <polyline points="200 700 500 1100 800 700" />
                <circle id="dot1" cx="500" cy="400" r="50" />
                <circle id="dot2" cx="500" cy="640" r="50" />
                <circle id="dot3" cx="500" cy="880" r="50" />
            </svg>
        </div>
    </div>
    <a href="{% link sponsorship.md %}">
        <div class="submenu-item">Sponsorship Opportunities</div>
    </a>
    <hr>
    <a href="{% link sponsor.md %}">
        <div class="submenu-item">Our Sponsors</div>
    </a>
</div>
<div id="submenu-panel-information" class="submenu-panel information right-submenu-panel bgcol-information-dark">
    <div>
        <div x-category="information" class="submenu-close submenu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%"
                height="100%" preserveAspectRatio="xMidYMid slice">
                <polyline points="200 700 500 1100 800 700" />
                <circle id="dot1" cx="500" cy="400" r="50" />
                <circle id="dot2" cx="500" cy="640" r="50" />
                <circle id="dot3" cx="500" cy="880" r="50" />
            </svg>
        </div>
    </div>
    <a href="{% link overview.md %}">
        <div class="submenu-item">Conference Overview</div>
    </a>
    <a href="{% link officers.md %}">
        <div class="submenu-item">Conference Officers</div>
    </a>
    <a href="{% link pvldb.md %}">
        <div class="submenu-item">PVLDB Review Board</div>
    </a>
    <a href="{% link contacts.md %}">
        <div class="submenu-item">Contacts</div>
    </a>
    <hr>
    <a href="{% link program_workshops.md %}">
        <div class="submenu-item">Workshops</div>
    </a>
</div>
<div id="submenu-panel-forauthors" class="submenu-panel forauthors right-submenu-panel bgcol-forauthors-dark ">
    <div>
        <div x-category="forauthors" class="submenu-close submenu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%"
                height="100%" preserveAspectRatio="xMidYMid slice">
                <polyline points="200 700 500 1100 800 700" />
                <circle id="dot1" cx="500" cy="400" r="50" />
                <circle id="dot2" cx="500" cy="640" r="50" />
                <circle id="dot3" cx="500" cy="880" r="50" />
            </svg>
        </div>
    </div>
    <a href="{% link important-dates.md %}">
        <div class="submenu-item">Important Dates</div>
    </a>
    <hr>
    <a href="{% link formatting-guidelines.md %}">
        <div class="submenu-item">Formatting Guidelines</div>
    </a>
    <a href="{% link submission-guidelines.md %}">
        <div class="submenu-item">Submission Guidelines</div>
    </a>
</div>
<div id="submenu-panel-forparticipants" class="submenu-panel forparticipants right-submenu-panel bgcol-forparticipants-dark">
    <div>
        <div x-category="forparticipants" class="submenu-close submenu-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" class="scroll-btn" viewBox="0 0 1000 1200" width="100%"
                height="100%" preserveAspectRatio="xMidYMid slice">
                <polyline points="200 700 500 1100 800 700" />
                <circle id="dot1" cx="500" cy="400" r="50" />
                <circle id="dot2" cx="500" cy="640" r="50" />
                <circle id="dot3" cx="500" cy="880" r="50" />
            </svg>
        </div>
    </div>
    <div class="submenu-item link-disable">Registration</div>
    <div class="submenu-item link-disable">Conference Venue</div>
    <div class="submenu-item link-disable">Lodging</div>
    <div class="submenu-item link-disable">Travel Fellowship</div>
    <div class="submenu-item link-disable">Visa Information</div>
    <div class="submenu-item link-disable">Public Transport</div>
    <div class="submenu-item link-disable">Local Attractions</div>
    <div class="submenu-item link-disable">Public Safety</div>
</div>
<div class="submenu-mask" id="submenu-mask"></div>